*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: linear-gradient(135deg, #4b67c1, #b39fcf);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}
.container{
    background-color: rgb(219, 226, 232);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 30px;
    width: 100%;
    max-width: 450px;
}
h1{
    text-align: center;
    margin-bottom: 20px;

}
.search-box{
    display: flex;
    margin-bottom: 20px;
}
input{
    flex: 1;
    padding: 12px 15px;
    border: 1px solid #cecece;
    border-radius: 8px 0 0 8px;
    outline: none;
    font-size: 16px;
}
button{
    background-color: #6e8efb;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.weather-info{
    text-align: center;
    display:none;
   
}
.city-name {
    font-size: 28px;
    margin-bottom: 10px;
    color: #333;
}
.temperature {
    font-size: 48px;
    font-weight: bold;
    margin: 15px 0;
    color: #333;
}
 .weather-description {
    font-size: 20px;
    margin-bottom: 20px;
    color: #666;
}
.weather-details{
    display:flex;
    justify-content: space-between;
    margin-top: 20px;
}
.detail{
    text-align: center;
}
 .detail p:first-child {
    font-weight: bold;
    color: #333;
}
.detail p:last-child {
    color: #666;
}

/* loading spinner */
.loading{
    text-align: center;
    display: none;
}
.spinner{
     border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #6e8efb;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 0 auto 10px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    to { transform: rotate(360deg); }
}