*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
      --bg-color: #ffffff;
      --text-color: #000000;
    }
.dark-theme {
      --bg-color: #121212;
      --text-color: #ffffff;
    }
body{
    
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: var(--text-color);
}

.container{
    background-color:var(--bg-color);
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
    padding: 30px;
    
}

h1{
    text-align: center;
    color:var(--text-color);
    margin-bottom: 12px;
}

.password-display{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
     background-color: #f5f7fa;
    border: 2px solid #e1e5eb;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;

}

#copy-btn{
    background-color: #5970cd;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 8px  12px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
}

.settings{
    margin-top: 20px;

}

.setting{
    margin-bottom: 20px;
}
.setting label{
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
}
#length{
    width: 70%;
}
.length-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkbox-group{
    display: flex;
    flex-wrap:wrap;
    gap: 15px;
}
.checkbox-item{
    display:flex;
    align-items: center;
}
 .checkbox-item input {
    margin-right: 8px;
}

.strength-meter {
    margin-top: 15px;
    height: 8px;
    background-color: #e1e5eb;
    border-radius: 4px;
    overflow: hidden;
    }
.strength-fill {
    height: 100%;
    width: 0%;
    transition: width 0.3s, background-color 0.3s; 
}

.strength-text {
    text-align: right;
    margin-top: 5px;
    font-size: 12px;
    color: var(--text-color);
}

#generate-btn {
    background-color: #485cae;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 15px;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

/* dark-theme apply */

.dark-themee {
    text-align: right;
    margin-bottom: 10px;
    
}
.dark-theme .password-display {
    background-color: #2d3748; 
    border-color: #4a5568;
    color: var(--text-color);
}
.switch{
    position: relative;
    width: 40px;
    height: 20px;
    
    display:inline-block;
}
.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    background-color: #b6c2d3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    border-radius: 34px;
    cursor: pointer;
}

.slider:before{
    background-color: rgb(209, 106, 106);
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0px;
    border-radius: 50%;
}

input:checked + .slider:before{
    transform: translateX(20px);
}